@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container {
    @apply w-full pr-[var(--bs-gutter-x,0.75rem)] pl-[var(--bs-gutter-x,0.75rem)] mx-auto;
} */
.pattern {
  background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 10px), repeating-linear-gradient(#d8e7ff, #d8e7ff);
  background-color: #ffffff;
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  /* --tw-space-y-reverse: 0; */
  margin-top: calc(0rem * calc(0 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

